@media screen and (max-width: 599px) {
/*
Header
*/
  .header-logo-pic {
    width: 40%;
    height: auto;
  }

  .hero-pic {
    width: 100%;
    height: auto;
  }

  #header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-box {
    width: 25%;
  }

  .name-box {
    width: 75%;
  }

/*
Project highlights
*/

  .animal-pic {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
  }

  .houston-pic {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
  }

  .mockup-article-project {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
  }

/*
footer
*/

  .footer-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7d97ad;
    padding-top: 0.5em;
  }

  .github-box {
    width: 50%;
  }

  .linkedin-box {
    width: 50%;
  }

  .github-logo {
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
/*
Header
*/
  .header-logo-pic {
    width: 40%;
    height: auto;
  }

  .hero-pic {
    width: 100%;
    height: auto;
  }

  #header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-box {
    width: 25%;
  }

  .name-box {
    width: 75%;
  }

/*
Header text
*/
  .header-name {
    font-size: 26px;
  }

  .header-role {
    font-size: 16px;
  }

/*
footer
*/

  .footer-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7d97ad;
    padding-top: 0.5em;
  }

  .github-box {
    width: 50%;
  }

  .linkedin-box {
    width: 50%;
  }

  .github-logo {
    width: 70%;
    height: auto;
  }

/*
Project highlights
*/
  .project-box {
    width: 100%;
  }

  .first-project {
    width: 33.33%;
  }

  .houston-pic {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
  }

  .second-project {
    width: 33.33%;
  }

  .animal-pic {
    width: 30%;
    height: auto;
  }

  .third-project {
    width: 33.33%;
  }

  .mockup-article-project {
    width: 30%;
    height: auto;
  }
}

/*
Width 700+
*/
@media screen and (min-width: 700px) {
/*
Header text
*/
  .header-name {
    font-size: 26px;
  }

  .header-role {
    font-size: 16px;
  }
/*
Header
*/
  .header-logo-pic {
    width: 40%;
    height: auto;
  }

  .hero-pic {
    width: 100%;
    height: auto;
  }

  #header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-box {
    width: 25%;
  }

  .name-box {
    width: 75%;
  }

/*
Project highlights
*/
  .project-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .animal-pic {

  }

  .houston-pic {

  }

  .mockup-article-project {

  }
/*
These are containers, not images! Keep for future use!
  .first-project {
    width: 200px;
    height: auto;
  }

  .second-project {
    width: 200px;
    height: auto;
  }

  .third-project {
    width: 200px;
    height: auto;
  }
*/

/*
footer
*/

  .footer-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7d97ad;
    padding-top: 0.5em;
  }

  .github-box {
    width: 50%;
  }

  .linkedin-box {
    width: 50%;
  }

  .github-logo {
    width: 60%;
    height: auto;
  }

  .linkedin-logo {
    display: block;
    margin: auto;
  }

}

/*
@media screen and (min-width: 960px) {

}
*/
