@media screen and (min-width: 600px) {
/* Header text
*/
  .header-name {
    font-size: 26px;
  }

  .header-role {
    font-size: 16px;
  }

/*
Project highlights
*/

/*
footer
*/
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7d97ad;
    padding-top: 0.5em;
  }

  .github-box {
    width: 50%;
  }

  .linkedin-box {
    width: 50%;
  }
}

/*
Width 700px+
*/
@media screen and (min-width: 701px) {
/*
Header
*/
  .header-logo-pic {
    width: 40%;
    height: auto;
  }

  .header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-box {
    width: 25%;
    max-width: 200px;
    order: 1;
  }

  .name-box {
    width: 75%;
    max-width: 600px;
    order: 2;
  }

/* Hero image
*/

.hero-image-box {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  max-width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*
Project highlights
*/
  .project-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .first-project {
    order: 1;
    width: 33.33%;
  }

  .houston-pic {
    max-width: 250px;
    max-height: 250px;
  }

  .second-project {
    order: 2;
    width: 33.33%;
  }

  .animal-pic {
    max-width: 250px;
    max-height: 250px;
  }

  .third-project {
    order: 3;
    width: 33.33%;
  }

  .mockup-article-project {
    max-width: 250px;
    max-height: 250px;
  }

/*
footer
*/
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7d97ad;
    padding-top: 0.5em;
  }

  .github-box {
    width: 50%;
  }

  .linkedin-box {
    width: 50%;
  }
}


@media screen and (min-width: 960px) {
  .header-box {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-box {
    max-width: ;
  }

  .project-box {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-box {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
