a, p {
  color: #2d3c49;
  text-align: center;
}

body {
  font-family: Raleway, sans-serif;
  background: linear-gradient(to bottom right, Gainsboro, LightGray);
}

img {
  border-radius: 0.3em;
}

/* Header
*/
#header-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 5px solid #7d97ad;
}

.logo-box {
  width: 25%;
}

.header-logo-pic {
  width: 40%;
  height: auto;
}

.name-box {
  width: 75%;
}

/* Header text styling
*/

.header-name {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.header-role {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

/* Hero pic
*/
.hero-pic {
  width: 100%;
  height: auto;
}

/* Project Highlights section
*/

.project-header {
  color: #2d3c49;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.project-label {
  text-decoration: underline;
  margin-top: auto;
}

/* Project Highlights containers
*/
.houston-pic {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}

.animal-pic {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}

.mockup-article-project {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}

/* Footer
*/
.footer-box {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #7d97ad;
  padding-top: 0.5em;
}

.linkedin-box {
  width: 50%;
}

.github-box {
  width: 50%;
}
