@media screen and (max-width: 550px) {
  .header-logo {
    width: 100%;
    height: auto;
  }

  .hero-pic {
    width: 100%;
    height: auto;
  }

/*
Header
*/

  #header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-box {
    width: 25%;
  }

  .name-box {
    width: 75%;
  }
}

/*
Project highlights
*/

  .animal-pic {
    width: 50%;
    height: auto;
  }

  .houston-pic{
    width: 100%;
    height: auto;
  }

  .mockup-article-project {
    width: 100%;
    height: auto;
  }

/*
@media screen and (min-width: 501px) {

}


@media screen and (min-width: 960px) {

}
*/
