a, p {
  color: #2d3c49;
  text-align: center;
}

body {
  font-family: Raleway, sans-serif;
  background: linear-gradient(to bottom right, Gainsboro, LightGray);
}

/*
Header
*/

/*
Header text styling
*/

.header-name {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.header-role {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

/*
Header container styling
*/
#header-box {
  border-bottom: 5px solid #7d97ad;
}

/*
Project Highlights section
*/

.animal-pic {
  display: block;
  margin: auto;
}

.project-header {
  color: #2d3c49;
  text-align: center;
  text-transform: uppercase;
}

/*
footer
*/
