body {
  font-family: Raleway, sans-serif;
}

/*
Header
*/

/*
Header text styling
*/

.header-name {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
}

.header-role {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
}

/*
Header container styling
*/
#header-box {
  border-bottom: 5px solid #7d97ad;
}

/*
Project Highlights section
*/

.project-header {
  color: #2d3c49;
  text-align: center;
  text-transform: uppercase;
}

/*
footer
*/
