@media screen and (max-width: 500px) {
  #headerLogo {
    width: 20%;
    height: auto;
  }

  #officePic {
    width: 20%;
    height: auto;
  }

  .logoBox {
    float: left;
  }

  .nameBox {
    width: 50%;
  }
}

/*
@media screen and (min-width: 501px) {

}


@media screen and (min-width: 960px) {

}
*/
